# Environment overrides
.env.local
.env.*.local

# Node & Frontend
**/node_modules/
frontend/.next/
frontend/out/

# Backend & Laravel
backend/vendor/
backend/storage/*.key
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/app/private/*
!backend/storage/app/private/.gitignore
backend/storage/app/public/*
!backend/storage/app/public/.gitignore
backend/bootstrap/cache/*.php

# Mobile (Flutter)
/app/
# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

logo_app_icon_final.pngs