.git
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
npm-debug.log
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.key
storage/pail
bootstrap/cache/*
!bootstrap/cache/.gitignore
.phpunit.cache
.phpunit.result.cache
database/*.sqlite
database/*.sqlite-journal
tests
docker-compose*.yml
Dockerfile
Jenkinsfile
*.md
.editorconfig
.gitattributes
.gitignore
.prettier*
.eslint*
phpunit.xml
pint.json
phpstan.neon
tsconfig.json
